<form>
	<input class="question" ng-model="poll.description" type="text" placeholder="Type your poll question here." required />
	<ul>
		<li ng-repeat="choice in poll.choices">
			<div class="inline">
				<input type="text" class="choice" ng-model="choice" required /><button type="button" class="remove" ng-click="removeChoice($index)">Remove</button>
			</div>
		</li>
	</ul>
	<div class="inline">
		<input type="text" class="choice" ng-model="newChoice" placeholder="Add some poll choices here." ng-enter="addChoice()" />
		<button type="button" class="add" ng-click="addChoice()">Add</button>
	</div>
	<button type="button" class="post">Post</button>
</form>