$green: #52ca9e;
$font: wire-one;

@mixin bg-linear-gradient($color1, $color2) {
    background: -webkit-linear-gradient(top, $color1, $color2);
    background: linear-gradient(to bottom, $color1, $color2);
}

@function green($alpha: 1) {
    @return rgba(82, 202, 158, $alpha);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: $font, sans-serif;
    @include bg-linear-gradient(#d1dde1, #b4c9d2);
}

header {
    clear: both;
    
    img {
        float: left;
    }
    
    nav {
        float: left;
        margin-top: 10px;
        
        font-size: 2em;
        font-weight: bold;
        color: $green;
        
        ul {
            li {
                display: inline-block;
                margin-left: 20px;
                list-style-type: none;
                
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
            
            li.active, li:hover {
                border-bottom: solid 3px $green;
            }
        }
    }
}

$form-width: 500px;
$input-padding-width: 10px;

@mixin form-font-style {
    font-family: $font, sans-serif;
    font-size: 2em;
}

section.body {
    clear: both;

    form {
        display: block;
        width: $form-width;
        margin: auto;
        padding: 10px; 
        border-radius: 5px;
        background-color: rgba(0,0,0,0.1);

        input {
            display: block;
            padding: 5px $input-padding-width;

            background-color: rgba(255, 255, 255, 0.8);
            border: none;
            border-radius: 5px;
            outline: none;
            
            @include form-font-style;
            color: $green;
        }

        input:focus {
            background-color: #fff;
        }

        input.question {
            width: $form-width - $input-padding-width * 2;
            font-size: 3em;
        }

        input.choice {
            width: $form-width / 2;
        }

        input.ng-invalid.ng-dirty {
            background-color: rgba(157, 38, 29, 0.3);
        }

        ul li {
            list-style-type: none;
        }

        button {
            padding: 5px $input-padding-width;
            border: none;
            border-radius: 20px;

            @include form-font-style;
            color: white;

            cursor: pointer;
        }

        button.add {
            background-color: green();
        }

        button.remove {
            background-color: rgba(157, 38, 29, 0.3);
        }

        div.inline {
            display: inline-block;
            width: auto;
            padding: 5px;
            border-radius: 5px;

            background-color: white;

            * {
                display: inline-block;
            }

            input {
                border: none;
                background-color: transparent;
            }
        }
    }
}

.container {
    width: 900px;
    margin: auto;
    padding: 10px;
}

.pull-right {
    float: right;
}