$green: #52ca9e;
$orange: #ff6600;
$font: wire-one;

@mixin bg-linear-gradient($color1, $color2) {
    background: -webkit-linear-gradient(top, $color1, $color2);
    background:    -moz-linear-gradient(top, $color1, $color2);
    background:         linear-gradient(to bottom, $color1, $color2);
}

@mixin transition($property, $duration) {
    -webkit-transition: $property $duration;
       -moz-transition: $property $duration;
        -ms-transition: $property $duration;
         -o-transition: $property $duration;
            transition: $property $duration;
}

@function green($alpha: 1) {
    @return rgba(82, 202, 158, $alpha);
}

@function red($alpha: 1) {
    @return rgba(157, 38, 29, $alpha);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: $font, sans-serif;
    background-image: url(../images/bg.png);
}

ul {
    -webkit-padding-start: 0px;
    padding-left: 0px;
    li {
        list-style-type: none;
    }
}

header {
    height: 150px;
    margin: 0px;
    padding: 0px;

    border-top: solid 5px #ff6600;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1);
    @include bg-linear-gradient(#f4f4f4, #fff);

    text-align: center;
    overflow: hidden;
    
    nav {
        display: inline-block;
        height: 100%;
        margin: 0px;
        padding: 0px;
        color: #aaa; 
        
        font-family: verdana;
        font-size: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
        
        vertical-align: top;
        
        ul {
            height: 100%;
            margin: 0px;
            padding: 0px;

            li {
                display: inline-block;
                width: 80px;
                height: 102%; // exceed a bit to hide the bottom box-shadow when active
                margin: 0px;
                padding: 0px 20px;
                
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    margin: 0px;
                    padding: 0px;
                    padding-top: 80%;
                    
                    color: inherit;
                    text-decoration: none;
                }
            }
            
            li.active {
                color: $orange;
                box-shadow: 0 0 3px 0px rgba(0,0,0,0.1) inset;
                @include bg-linear-gradient(#eaeaea, #fff);
            }

            li:hover {
                box-shadow: 0 0 3px 0px rgba(0,0,0,0.1) inset;
                @include bg-linear-gradient(#eaeaea, #fff);
            }
        }
    }

    span.brand {
        display: inline-block;
        margin: 0px 10px;
        padding: 30px 20px;

        border-radius: 0px 0px 10px 10px;
        box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
        @include bg-linear-gradient($orange, #ff8800);

        color: white;
        font-size: 4em;
        font-weight: bold;
        cursor: pointer;

        @include transition(padding, 0.5s);
    }

    span.brand:hover {
        padding-bottom: 40px;
    }
}

section.body {
    margin: 10px;
    margin-top: 30px;

    @mixin form-font-style {
        font-family: $font, sans-serif;
        font-size: 2em;
    }

    form {
        $form-width: 600px;
        $input-padding: 5px 10px;

        display: block;
        width: $form-width;
        margin: auto;
        text-align: center;

        input {
            display: block;
            padding: $input-padding;
            margin: auto;

            background-color: rgba(255, 255, 255, 0.3);
            border: none;
            border-radius: 5px;
            outline: none;
            
            @include form-font-style;
            color: $green;

            @include transition(background-color, 0.5s);
        }

        input.question {
            width: 90%;
            font-size: 4em;
        }

        input.choice {
            width: $form-width / 2;
        }

        input:focus, input:hover {
            background-color: rgba(255, 255, 255, 0.6);
        }

        input.ng-invalid.ng-dirty {
            background-color: rgba(255, 0, 0, 0.4);
        }

        ul li {
            margin-bottom: 5px;
        }

        button {
            width: 80px;
            padding: $input-padding;
            border: none;
            border-radius: 20px;

            @include form-font-style;
            color: white;
            opacity: 0.5;

            cursor: pointer;

            @include transition(opacity, 0.5s);
        }

        button.add {
            background-color: green();
        }

        button.remove {
            background-color: red();
        }

        button.post {
            display: block;
            width: $form-width / 3;
            margin: 15px auto;

            font-size: 3em;

            background-color: green();
        }

        button:hover {
            opacity: 1;
        }

        div.inline {
            display: inline-block;
            padding: 5px;
            border-radius: 5px;

            background-color: rgba(255, 255, 255, 0.3);
            @include transition(background-color, 0.5s);

            * {
                display: inline-block;
            }

            input {
                margin-right: 5px;
                border: none;
                background-color: transparent;
            }
        }

        div.inline:hover {
            background-color: rgba(255, 255, 255, 0.6);
        }
    }
}

.container {
    min-width: 700px;
    margin: auto;
}

.pull-right {
    float: right;
}